#!/usr/bin/env python
# -*- coding: utf-8 -*-

from fabric.api import env
from fabric.api import task

@task
def test():
    env.settings = 'test'
    env.hosts = ['88.88.88.88']
    roles = {
        'www-nginx': ['88.88.88.88'],
        'cache-redis': ['88.88.88.88'],
        'proxy-haproxy': ['88.88.88.88']
    }
    env.roledefs.update(roles)
    env.user = 'vagrant'
    env.password = 'vagrant'

# vim: filetype=python
